/venv/
*.iml
repo.sh
/.idea
04/03_Solutions/console.ns
*.ns
03/03_Solutions/01/prep.sh
03/03_Solutions/01/scp.sh
03/03_Solutions/02/prep.sh
03/03_Solutions/03/prep.sh
03/03_Solutions/03/scp.sh
03/03_Solutions/04/prep.sh
03/03_Solutions/04/repo-demo.sh
03/03_Solutions/04/scp.sh
